<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThemeInsteadTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8438E3131DBF287200F6A38B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8438E32C1DBF287300F6A38B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8438E3371DBF287300F6A38B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
